@model  OMC.Models.DoctorBoardResponse

<h2>Doctor Board Entry</h2>

<table>
    <tr>
        <td>
            Success:
        </td>
        <td>
            @Model.IsSuccess
        </td>
    </tr>
    <tr style="height:20px;"></tr>
    <tr>
        <td>
            Message:
        </td>
        <td>
            @Model.Message
        </td>
    </tr>
    <tr style="height:20px;"></tr>

</table>


