@model  OMC.Models.PatientEnquiry
@{
    ViewBag.Title = "PatientEnquiry";
}

<h2>Patient's enquiry for Doctor</h2>

@using (Html.BeginForm("UnRegPatientEnquiry", "Login"))
{
    @Html.AntiForgeryToken()


    <table>
        <tr>
            <td>Search for Doctors</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.Description)</td>
        </tr>
        <tr>
            <td><button type="submit">Search</button></td>
        </tr>
    </table>
    <br />

}

