@model OMC.Models.SignInResponse

@{
    ViewBag.Title = "Login Success";
}

<h2>Login successful</h2>

<b><font color="blue"> Session Id: </font></b> @Model.SessionId
<br />
<b><font color="blue">User Id: </font></b> @Model.UserId
<br />
<b><font color="blue">Role Id: </font></b> @Model.RoleId
<br />
